<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style.css">
    <title>eShopVue</title>
</head>
<body>
    <script src="js/vue.js"></script>
    <script defer src="js/script.js"></script>
    <div id="app">
        <header>
            <div class="title">
                <h1 class="header-h1">Мелочевка <span>Б</span>обби</h1>
                <p>
                    Те, кто верит, налетай, те, кто жадный, убегай. Для вас свеженький
                    товарчик, а для нас - солидный наварчик.
                </p>
            </div>
            <div class="btn-block">
                <field-search @click_search="filterGoods" :text="searchLine"></field-search>
                <button class="cart-button" type="button" @click="basketVisible">Корзина</button>
            </div>
        </header>
        <main>
            <goods-list v-if="goods.length!=0" :goods="goods"></goods-list>
            <div v-else class="goods-list">Нет данных</div>
            <basket-list v-show="isVisibleCart" ></basket-list>
            <net-error v-if="isError"></net-error>
        </main>
        </div>
    </div>
</body>
</html>